body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("/img/constructive_bg_04.jpg");
    background-size: initial;
    color: #47476b;
    height: 100%;
}
.row{
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}
.bg{
    height: 500px;
    opacity: 0.2;
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 20px 80px 0 rgba(0, 0, 0, 0.19);
}
.bg-skeleton{
    height: 500px;
    opacity: 0.8;
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 20px 80px 0 rgba(0, 0, 0, 0.19);
}
.bg2{
    padding: 10px;
    height: 500px;
    margin-top: -500px;
}
.png{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100%;
}
.flag-7{
    width: 79%;
}
.flag-3{
    width: 20%;
    height: 100px;
}
.flag-6{
    width: 49%;
}
.line{
    border-left: 1px solid grey;
    padding-left: 13px;
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-text{
    font-family: cursive;
}
p{
    font-size: large;
    margin-bottom: 3px;
    font-family: cursive;
}
.skeleton{
    height: 30px;
    background: #e0e0eb;
    margin-bottom: 10px;
    margin-right: 6px;
}